include ../../common/pug/translation

mixin actionRollBtn(move, classes=[], blockContent=false, iconOnly=false)
  - let i18n_key = move.id.replace("move-", "move-title-")
  - let moveData = rolls[move.Name]
  - let value = `&{template:starforged_moves} {{action=[[{d6+${moveData.stat}+(?{Modifier|0}),{10}}kl1]]}} {{header=@{character_name}}} {{add=[[(?{Modifier|0})]]}} {{stat=[[${moveData.repeat_stat}]]}} {{name=^{${i18n_key}}}} {{negate1=[[1+${moveData.repeat_stat}+(?{Modifier|0})]]}} {{negate2=[[2+${moveData.repeat_stat}+(?{Modifier|0})]]}} {{negate3=[[3+${moveData.repeat_stat}+(?{Modifier|0})]]}} {{negate4=[[4+${moveData.repeat_stat}+(?{Modifier|0})]]}} {{negate5=[[5+${moveData.repeat_stat}+(?{Modifier|0})]]}} {{negate6=[[6+${moveData.repeat_stat}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}} {{modifiers=[[${moveData.repeat_stat}+(?{Modifier|0})]]}} {{burn_strong=^{momentum-burn-strong-hit}}} {{burn_weak=^{momentum-burn-weak-hit}}}`
  +actionBtn("action-roll", value, i18n_key, classes, blockContent, iconOnly)
