include ./progressButtons

mixin progressTrack(classes=[], attrPrefix="progress", rollMoveId, markMoveId, recommitMoveId)
  article(class=["progress-track", ...classes])
    +progressTotal(attrPrefix)
    block
    //- +progressMarkBtn(attrPrefix, markMoveId)
    +progressClearBtn(attrPrefix)
    +progressTrackBar(attrPrefix)
    +progressRepeatingRollBtn(rollMoveId)

mixin progressTotal(attrPrefix="progress")
  //- hidden counter for total progress
  - let progressSum = track.map(boxIndex => `@{${attrPrefix}_${boxIndex}}`).join("+")
  input(
    type='hidden'
    name=`attr_${attrPrefix}-filled`
    value=`0`
    )


mixin progressTrackBar(attrPrefix="progress", xpBoxAttr)
  button(type="action" name="act_progress-mark" class=["progress-track-bar"] data-i18n-title="progress-mark")
    each value in track
      +progressBox(value, attrPrefix, xpBoxAttr)

mixin progressBox(index, attrPrefix="progress", xpBoxAttr=false)
  - let attribute_name = `attr_${attrPrefix}_${index}`
  input(type="hidden" name=attribute_name class=["progress-box-control"] value=0)
  div(class=["progress-box"])
    if (xpBoxAttr)
      +legacyXpBoxes(xpBoxAttr, index)


mixin progressTrackBar_old(attrPrefix="progress", xpBoxAttr)
  section.progress-track-bar
    each value in track
      +progressBox_old(value, attrPrefix, xpBoxAttr)



mixin progressBox_old(index, attrPrefix="progress", xpBoxAttr=false)
  - let attribute_name = `attr_${attrPrefix}_${index}`
  section.progress-box
    input(type="hidden" name=attribute_name class=["progress-box-control"] value=0)
    +progressBoxSelect(index, attrPrefix)
    if (xpBoxAttr)
      +legacyXpBoxes(xpBoxAttr, index)

mixin progressBoxSelect(index, attrPrefix="progress")
  - let attribute_name = `attr_${attrPrefix}_${index}`
  select(name=attribute_name class=["progress-box"])
    option(value="0")
    option(value="1") -
    option(value="2") +
    option(value="3") *
    option(value="4") #
