mixin statEditor()
  each stat in stats
    div.stat
      h3.stats-title.i18n-text(data-i18n=`stat-${stat}`)=translation[`stat-${stat}`]
      input(
        type='text'
        class='stats-input'
        name=`attr_${stat}`
        value='0'
      )

mixin statStatic()
  each stat in stats
    div.stat
      label.roll-label.surface
        //- h3.stats-title=stat
        h3.stats-title.i18n-text(data-i18n=`stat-${stat}`)=translation[`stat-${stat}`]
        span(class='stats-input' name=`attr_${stat}`)
        button(
        type='action'
        class='hide-element'
        title=`Roll +${stat}`
        name='act_starforged_moves'
        value=JSON.stringify({ name: `Roll +${_.upperFirst(stat)}`, options: [{ text: '', method: 'any', stats: [stat] }] })
      )

mixin stats
  div.stats
    input(type='radio' class='hide-element stat-edit' name='attr_stat_mode' value='1')
    div.stat-edit.showhide
      div.stat-toggle.set-toggle
        label.stat-toggle.set-toggle
          span.i18n-text(data-i18n="stat-toggle-apply")=translation["stat-toggle-apply"]
          input(type='radio' class='hide-element' name='attr_stat_mode_button' value='2')
      +statEditor()

    input(type='radio' class='hide-element stat-set' name='attr_stat_mode' value='2' checked)
    div.stat-set.showhide
      +statStatic()
      div.stat-toggle.edit-toggle
        label.stat-toggle.edit-toggle.surface
          span.i18n-text(data-i18n='edit')=translation['edit']
          input(type='radio' class='hide-element' name='attr_stat_mode_button' value='1')