mixin resourceMeterBar(attribute, labelKey, max=5, min=0, startsAt=max, plusSigns=false)
  section.resource-meter&attributes(labelKey)
    if (max)
      input(type="hidden" name=`attr_${attribute}_max` value=max)
    if (min)
      input(type="hidden" name=`attr_${attribute}_min` value=min)
    input(type="hidden" name=`attr_${attribute}` value=startsAt)
    - let currentMeter = min
    while currentMeter <= max
      - let displayText = plusSigns == true && currentMeter > 0 ? `+${currentMeter}` : currentMeter
      - let checked = currentMeter == startsAt ? "checked" : false
      label.resource-meter-box(title=`Set ${translation[i18n_key]||"resource meter"} to ${displayText}`)
        //- +attrToggleRadio(attribute, currentMeter, [], checked, null, false)
        input(type='radio' name='attr_'+attribute data-attr=attribute value=currentMeter checked=checked)
        span!=displayText
      - currentMeter++
    block

