include ./location-factory

mixin sectorContent
  .sector-hex-content
    - var hexNumber = 0;
    for num in new Array(140)
      - ++hexNumber
      div(class=`single-hex hex-${hexNumber}`)
        .location-action-header
          - var currentButton = `currentHexButton${hexNumber}`
          - var travelledButton = `travelledHexButton${hexNumber}`
          +btn({
            type: 'radio',
            text: 'Current Ship Hex',
            translationId: 'map-current-hex-btn',
            attribute: `currentHex`,
            id: currentButton,
            value: `hex-${hexNumber}`,
            classes: 'current'
          })
          +btn({
            type: 'checkbox',
            text: 'Travelled Hex',
            translationId: 'map-travelled-hex-btn',
            attribute: `travelled_hex-${hexNumber}`,
            id: travelledButton,
            classes: 'travelled'
          })
        fieldset(class=`repeating_locations-hex${hexNumber}`)
          +locationFactory(hexNumber)
    
    datalist(id="location-types")
      each sighting, key in sightings
        option(value=key)
      option(value="custom")
  