mixin page(pageType, sheetType, value, checked=false)
  if checked == true
    input(type='radio' name=`attr_${_.kebabCase(sheetType)}_page` class=`switch-vis` value=value checked)
  else
    input(type='radio' name=`attr_${_.kebabCase(sheetType)}_page` class=`switch-vis` value=value)
  article(class=`page switchable-vis page-content page-${_.kebabCase(pageType)}` id=`page-${_.kebabCase(sheetType)}-${_.kebabCase(pageType)}`)
    block