mixin page(pageType, sheetType, value, checked=false)
  div(class=`page-container page-${pageType}` id=`page-${sheetType}-${pageType}`)
    if checked == true
      input(type='radio' name=`attr_${sheetType}_page` class=`hide-element` value=value checked)
    else
      input(type='radio' name=`attr_${sheetType}_page` class=`hide-element` value=value)
    article.page-content.showhide
      block