mixin page(pageType, sheetType)
  article(
    class=`page page-${_.kebabCase(pageType)}`
    id=`sheet-${_.kebabCase(sheetType)}-page-${_.kebabCase(pageType)}`
    role="tabpanel"
  )
    block

mixin pageTabList(sheetType, ariaLabel, classes=[])
  -
    sheet = sheets.find(item => item.name == _.kebabCase(sheetType))
    pages = sheet.pages
    defaultTab = `${_.kebabCase(sheet.start)}`
    parentName =`sheet-${_.kebabCase(sheetType)}`
  +tabList( parentName, defaultTab, `Starforged ${sheetType} sheet tabs`)
    each page in pages
      - pageName = `${_.kebabCase(page)}`;
      +tab(
        pageName,
        parentName,
        `nav-${_.kebabCase(page)}`,
        ["page-tab"]
      )


mixin pageMain(sheetType)
  -
    sheet = sheets.find(item => item.name == _.kebabCase(sheetType))
    defaultTab = `${_.kebabCase(sheet.start)}`
    parentName =`sheet-${_.kebabCase(sheetType)}`
  main.page-container
    input( type="hidden" name=`attr_${parentName}-display` value=defaultTab ).pager
    block
    //- block items should have role="tabpanel"
