include ./outcomes
include ./body
//- include ../../components/moves/mixins/container

mixin moveOutcome
  | {{#rollGreater() computed::action-score challenge-die-1}}
  | {{#rollTotal() challenge-die-1 challenge-die-2}}
  +strongHitMatch
  | {{/rollTotal() challenge-die-1 challenge-die-2}}
  | {{#^rollTotal() challenge-die-1 challenge-die-2}}
  | {{#rollGreater() computed::action-score challenge-die-2}}
  +strongHit
  | {{/rollGreater() computed::action-score challenge-die-2}}
  | {{#^rollGreater() computed::action-score challenge-die-2}}
  +weakHit
  | {{#rollGreater() momentum challenge-die-2}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge-die-2}}
  | {{/^rollGreater() computed::action-score challenge-die-2}}
  | {{/^rollTotal() challenge-die-1 challenge-die-2}}
  | {{/rollGreater() computed::action-score challenge-die-1}}
  | {{#^rollGreater() computed::action-score challenge-die-1}}
  | {{#rollTotal() challenge-die-1 challenge-die-2}}
  +missMatch
  | {{#rollGreater() momentum challenge-die-1}}
  +momentumStrongHitMatch
  | {{/rollGreater() momentum challenge-die-1}}
  | {{/rollTotal() challenge-die-1 challenge-die-2}}
  | {{#^rollTotal() challenge-die-1 challenge-die-2}}
  | {{#rollGreater() computed::action-score challenge-die-2}}
  +weakHit
  | {{#rollGreater() momentum challenge-die-1}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge-die-1}}
  | {{/rollGreater() computed::action-score challenge-die-2}}
  | {{#^rollGreater() computed::action-score challenge-die-2}}
  +miss
  | {{#rollGreater() momentum challenge-die-1}}
  | {{#rollGreater() momentum challenge-die-2}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge-die-2}}
  | {{#^rollGreater() momentum challenge-die-2}}
  +momentumWeakHit
  | {{/^rollGreater() momentum challenge-die-2}}
  | {{/rollGreater() momentum challenge-die-1}}
  | {{#^rollGreater() momentum challenge-die-1}}
  | {{#rollGreater() momentum challenge-die-2}}
  +momentumWeakHit
  | {{/rollGreater() momentum challenge-die-2}}
  | {{/^rollGreater() momentum challenge-die-1}}
  | {{/^rollGreater() computed::action-score challenge-die-2}}
  | {{/^rollTotal() challenge-die-1 challenge-die-2}}
  | {{/^rollGreater() computed::action-score challenge-die-1}}


mixin standardAction(type)
  | {{#rollGreater() #{type} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +strongHitMatch
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{type} challenge2}}
  +strongHit
  | {{/rollGreater() #{type} challenge2}}
  | {{#^rollGreater() #{type} challenge2}}
  +weakHit
  | {{/^rollGreater() #{type} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/rollGreater() #{type} challenge1}}
  | {{#^rollGreater() #{type} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +missMatch
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{type} challenge2}}
  +weakHit
  | {{/rollGreater() #{type} challenge2}}
  | {{#^rollGreater() #{type} challenge2}}
  +miss
  | {{/^rollGreater() #{type} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/^rollGreater() #{type} challenge1}}

mixin standardActionWithMomentum(type)
  | {{#rollGreater() #{type} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +strongHitMatch
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{type} challenge2}}
  +strongHit
  | {{/rollGreater() #{type} challenge2}}
  | {{#^rollGreater() #{type} challenge2}}
  +weakHit
  | {{#rollGreater() momentum challenge2}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge2}}
  | {{/^rollGreater() #{type} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/rollGreater() #{type} challenge1}}
  | {{#^rollGreater() #{type} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +missMatch
  | {{#rollGreater() momentum challenge1}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge1}}
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{type} challenge2}}
  +weakHit
  | {{#rollGreater() momentum challenge1}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge1}}
  | {{/rollGreater() #{type} challenge2}}
  | {{#^rollGreater() #{type} challenge2}}
  +miss
  | {{#rollGreater() momentum challenge1}}
  | {{#rollGreater() momentum challenge2}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge2}}
  | {{#^rollGreater() momentum challenge2}}
  +momentumWeakHit
  | {{/^rollGreater() momentum challenge2}}
  | {{/rollGreater() momentum challenge1}}
  | {{#^rollGreater() momentum challenge1}}
  | {{#rollGreater() momentum challenge2}}
  +momentumWeakHit
  | {{/rollGreater() momentum challenge2}}
  | {{/^rollGreater() momentum challenge1}}
  | {{/^rollGreater() #{type} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/^rollGreater() #{type} challenge1}}
