include ./actions
include ./body

mixin negationRoll()
  div.sheet-result-body.sheet-result-row
    div.i18n-text(data-i18n='previous-action-score')=translation['previous-action-score']
    div {{computed::preNegationActionScore}}
  div.sheet-result-body.sheet-result-row
    div.sheet-subfooter.sheet-alert(data-i18n='momentum-cancel')=translation['momentum-cancel']
  div.sheet-result-body.sheet-result-row
    div.i18n-text(data-i18n='stat-plus-add')=translation['stat-plus-add']
    div {{computed::stat}} + {{computed::add}}
  div.sheet-result-body.sheet-result-row
    div.i18n-text(data-i18n='new-action-score')=translation['new-action-score']
    div {{computed::action}}
  div.sheet-result-body.sheet-result-row
    div.i18n-text(data-i18n='challenge-dice')=translation['challenge-dice']
    div {{computed::challenge1}} {{computed::challenge2}}
  +standardAction()
