include ./actions
include ./body

mixin actionDieCancelled(opts)
  div.sheet-result-body.sheet-result-row
    div
      +i18n('previous-action-score')
    div {{#{opts.type}}}
  div.sheet-result-body.sheet-result-row
    div.sheet-subfooter.sheet-alert(data-i18n='momentum-cancel')=translation['momentum-cancel']
  div.sheet-result-body.sheet-result-row
    div
      +i18n('stat-plus-add')
    div {{stat}} + {{add}}
  div.sheet-result-body.sheet-result-row
    div
      +i18n('new-action-score')
    div {{modifiers}}
  +challengeDice
  +standardAction('modifiers')

mixin cancelRollOld(opts, type)
  | {{#rollTotal() momentum #{opts.momentum}}}
  | {{#rollTotal() #{type} negate#{opts.die}}}
  +actionDieCancelled({momentum: true, type: type})
  | {{/rollTotal() #{type} negate#{opts.die}}}
  | {{#^rollTotal() #{type} negate#{opts.die}}}
  +actionRollBodyOld(type)
  +challengeDiceOld
  +standardAction(type)
  | {{/^rollTotal() #{type} negate#{opts.die}}}
  | {{/rollTotal() momentum #{opts.momentum}}}
