mixin tab(tabName, parentName, i18n_key, classes=[])
  -
    const btnValue = tabName
    const btnName = `act_set_${parentName}-display`
  button(
    type="action"
    role="tab"
    name=btnName
    value=btnValue
    class=classes
    aria-controls=`${parentName}-${tabName}`
  )
    +i18n(i18n_key)

mixin tabList(parentName, defaultTab, ariaLabel, classes=[])
  nav(
        aria-label=ariaLabel
        role="tablist"
        class=["page-tablist"]
        id=parentName
        class = classes
      )
    input(
      type="hidden"
      name=`attr_${parentName}-display`
      value=defaultTab
    ).tabber
    block
//- FIXME: switch aria-label to is i18n data
