//- TODO: consider redoing this as a modal that displays impact options only when needed; active impacts can then be displayed

//-
  opts: {
    type: '<any html btn type>',
    text: 'example',
    attribute: 'example'

    // Optional
    classes: 'example-class'
    action: 'static' or 'toggle' (default)
  }

mixin toggleBtn(label, attribute, value, title, classes)
  label(class=`toggle-btn ${classes||''}`)
    span.i18n-text!=label
    +attrToggleRadio(attribute, value)

mixin actionBtn(action, value=null, i18n_key=action, classes=[], blockContent=false, iconOnly=false)
  if iconOnly == true
    button(
      name=`act_${action}`
      type="action"
      value=value
      class=classes
      data-i18n-title=i18n_key
      data-i18n-aria-label=i18n_key
    )
    if blockContent==true
      block
  else
    button(
      name=`act_${action}`
      type="action"
      value=value
      class=classes
      data-i18n=i18n_key
      data-i18n-title=i18n_key
      data-i18n-aria-label=i18n_key
    )
      +i18n(i18n_key)
      if blockContent==true
        block


mixin setAttrBtn(attribute, value, i18n_key, classes, iconOnly, blockContent=false)
  +actionBtn(`set-${attribute}`, value, i18n_key, classes, blockContent, iconOnly)

mixin btn(opts)
  - action = opts.action ? opts.action : 'toggle'
  if opts.classes
    label(class=`${action}-btn ${opts.classes}`)
      if opts.pure_attr
        input(hidden type=opts.type name=`attr_${opts.attribute}` checked=opts.checked||false)
      else
        input(hidden type=opts.type name=`attr_${opts.attribute}_button` checked=opts.checked||false)
      +i18n(opts.translationId)
  else
    label(class=`${action}-btn`)
      input(hidden type=opts.type name=`attr_${opts.attribute}_button` checked=opts.checked||false)
      +i18n(opts.translationId)