//-
  opts: {
    type: '<any html btn type>',
    text: 'example',
    attribute: 'example'

    // Optional
    classes: 'example-class'
    action: 'static' or 'toggle' (default)
  }

mixin toggleBtn(label, attribute, value, title, classes)
  label(class=`toggle-btn ${classes||''}`)
    input.hide-element.btn-input(
      type='radio'
      title= `@{${attribute}}`
      name=`attr_${attribute}`
      value=value
      hidden
    )
    span!=label

mixin btn(opts)
  - var action = opts.action ? opts.action : 'toggle'
  if opts.classes
    label(class=`${action}-btn ${opts.classes}`)
      if opts.pure_attr
        input.btn-input.hide-element(type=opts.type name=`attr_${opts.attribute}`)
      else
        if opts.checked
          input.btn-input.hide-element(type=opts.type name=`attr_${opts.attribute}_button` checked)
        else
          input.btn-input.hide-element(type=opts.type name=`attr_${opts.attribute}_button`)
      span.i18n-text.btn-content(data-i18n=opts.translationId)=opts.text
  else
    label(class=`${action}-btn`)
      input.btn-input.hide-element(type=opts.type name=`attr_${opts.attribute}_button`)
      span.i18n-text.btn-content(data-i18n=opts.translationId)=opts.text