//-
  opts: {
    type: '<any html btn type>',
    text: 'example',
    attribute: 'example'

    // Optional
    classes: 'example-class'
    action: 'static' or 'toggle' (default)
  }

mixin toggleBtn(label, attribute, value, title, classes)
  label(class=`toggle-btn ${classes||''}`)
    span!=label
    +attrToggleRadio(attribute, value)
    //- input.switch-display.btn-input(
    //-   type='radio'
    //-   title= `@{${attribute}}`
    //-   name=`attr_${attribute}`
    //-   value=value
    //-   hidden
    //- )
    //- FIXME i18n

mixin btn(opts)
  - var action = opts.action ? opts.action : 'toggle'
  if opts.classes
    label(class=`${action}-btn ${opts.classes}`)
      if opts.pure_attr
        input.btn-input.switch-display(hidden type=opts.type name=`attr_${opts.attribute}` checked=opts.checked||false)
      else
        input.btn-input.switch-display(hidden type=opts.type name=`attr_${opts.attribute}_button` checked=opts.checked||false)
      +i18n(opts.translationId)
  else
    label(class=`${action}-btn`)
      input.btn-input.switch-display(hidden type=opts.type name=`attr_${opts.attribute}_button` checked=opts.checked||false)
      +i18n(opts.translationId)