//-
  opts: {
    type: '<any html btn type>',
    text: 'example',
    attribute: 'example'

    // Optional
    classes: 'example-class'
    value: 'example-value'
    action: 'static' or 'toggle' (default)
  }

mixin hiddenBtn(opts)
  - var name = opts.pure_attr ? `attr_${opts.attribute}` : `attr_${opts.attribute}_button`
  input.btn-input.hide-element(type=opts.type name=name)&attributes(attributes)

mixin btnContent(opts)
  span.i18n-text.btn-content(data-i18n=opts.translationId)=opts.text

mixin btn(opts)
  - var action = opts.action || 'toggle'
  if opts.classes
    label(class=`${action}-btn ${opts.classes}`)
      if opts.checked
        +hiddenBtn(opts)(checked="checked")
      else if opts.value 
        +hiddenBtn(opts)(value=opts.value)
      else
        +hiddenBtn(opts)
      +btnContent(opts)
  else
    label(class=`${action}-btn`)
      +hiddenBtn(opts)
      +btnContent(opts)