
mixin modalButton(modalId, buttonText=false, classes=[])
  - let class;
  if buttonText
    - class = ["modal-button", ...classes];
  else
    - class = ["modal-button", "icon-only", ...classes];
  a(href=modalId, class=class)
    !=(buttonText ? buttonText : "")

mixin modalDialog(modalId, modalTitle, classes=[])
  .modal-overlay(id=modalId)
    aside(class=["modal-dialog", ...classes])
      a(href="#close", title="Close").close-dialog!=X
      if (modalTitle)
        h2=modalTitle
      block