include ../progress/mixins/progressBoxes

mixin connections()
  .connection-component
    fieldset.repeating_connection
      .connection-container
        p.connection-title.i18n-text(data-i18n='character-name')
        // i18n = 'character-name'
        input.border-bottom.connection-name(type='text' name='attr_connection-name' placeholder='Name')
        label.details-btn
          input.switch-display.btn-input(type='checkbox' name='attr_details_button')
          .btn-content.i18n-text(data-i18n='details')
        // i18n = 'details'
        input.switch-display.show-connection-info(type='checkbox' name='attr_details')
        .show-connection-info.switchable-display
          .full-width
            p.connection-title.i18n-text(data-i18n='location')
            input.connection-location.border-bottom(type='text' name='attr_connection-location' placeholder=translation["location"])
          .full-width
            p.connection-title.i18n-text(data-i18n='descriptors')
            input.connection-descriptors.border-bottom(type='text' name='attr_connection-descriptors' placeholder=translation['descriptors'])
          .full-width
            .challenge-rank-radio
              each challengeRank, index in challengeranks
                label.challenge-rank-option
                  if challengeRank.checked
                    input(type="radio" class="switch-display" name="attr_rank" value=index checked)
                  else
                    input(type="radio" class="switch-display" name="attr_rank" value=index)
                  h5=challengeRank.text
            +progressTrackBoxes(track, 'connection-name')
          .full-width
            textarea.connection-notes(name='attr_connection-notes')