include ./../../common/pug/pager
include ./mixins/assetCard

mixin assetBuilder(assetsArray, listId)
  each asset in assetsArray
    input(type='checkbox' name=`attr_${asset.id}` class=["asset-control"])
    +assetCard(asset, { visibilityToggle: true, standalone: false })

mixin genericAssetBuilder(assetsArray, listId)
  //- Asset Datalist
  input.asset-options-tplHeader(hidden type='text' list=listId name='attr_asset' placeholder=translation["type-asset-name"])
  datalist(id=listId)
    each asset in assetsArray
      //- TODO: migrate to more sensible name scheme
      //- ideally it'd use translation strings as the list 'value', or have some other means of diplaying that more nicely
      - assetIdShort = asset.id.replace("asset-", "")
      option(value=assetIdShort)
        +i18n(`${asset.id}-name`)
    option(value='custom')
      +i18n(`asset-custom-name`)
  each asset in assetsArray
    +assetCard(asset, { visibilityToggle: true, standalone: false })
