include ./actions
include ./body

mixin actionDieNegated(opts)
  div.sheet-result-body.sheet-result-row
    div(data-i18n='roll-template-negate-old-score') Previous Action Score:
    div {{#{opts.type}}}
  div.sheet-result-body.sheet-result-row
    div.sheet-subfooter.sheet-alert(data-i18n='roll-template-negate-cancelled') Action die cancelled for matching negative momentum.
  div.sheet-result-body.sheet-result-row
    div(data-i18n='roll-template-negate-stats') Stat + Add:
    div {{stat}} + {{add}}
  div.sheet-result-body.sheet-result-row
    div(data-i18n='roll-template-negate-new-score') New Action Score:
    div {{modifiers}}
  +challengeDice
  +standardAction('modifiers')

mixin negationRoll(opts, type)
  | {{#rollTotal() momentum #{opts.momentum}}}
  | {{#rollTotal() #{type} negate#{opts.die}}}
  +actionDieNegated({momentum: true, type: type})
  | {{/rollTotal() #{type} negate#{opts.die}}}
  | {{#^rollTotal() #{type} negate#{opts.die}}}
  +actionBody(type)
  +standardAction(type)
  | {{/^rollTotal() #{type} negate#{opts.die}}}
  | {{/rollTotal() momentum #{opts.momentum}}}
  