//- include ../../components/stats/stats
include ./resourcemeter
include ../../components/rolls/rolls

-
  charResources = ['health', 'spirit', 'supply'];
  sharedResources = ['supply'];
  maxStandardResource = 5;
  minStandardResource = 0;
  standardValues = _.range(maxStandardResource, minStandardResource);
  inverse = _.range(minStandardResource, maxStandardResource);
  textResources = ["character-name", "character-callsign", "character-pronouns"];
  numericResources = [
    { id: "character-experience", attribute: "xp" },
    { id: "character-experience-spent", attribute: "total_xp" }
  ];

mixin characterResourceDropdownOptions(trackValues)
  each val in trackValues
    option(value=val)!=`+${val}`

mixin resourceRollableDropdown(resourceId, sheetType)
  section(id=`${sheetType}-${resourceId}`).resource.resource-numeric
    -
      trackValues;
      if (resource == 'wealth')
        {trackValues = inverse}
      else
        {trackValues = standardValues};
    +actionRollBtn(resourceId, `resource-${resourceId}`)
    select(name=`attr_${resourceId}` title=`Set ${resourceId}`)
      +characterResourceDropdownOptions(trackValues)

mixin characterResourceText(resourceId, i18n_key=resourceId, attribute=_.snakeCase(resourceId), value="")
  section(id=resourceId).resource.resource-string
    label(for=`${resourceId}-input`)
      +i18n(i18n_key).resource-title
    input(type='text' id=`${resourceId}-input` name=`attr_${attribute}` placeholder=translation[i18n_key] value=value)

mixin characterResourceRollable(resourceId, attribute, i18n_key, sheetType, min=minStandardResource, max=maxStandardResource, value=maxStandardResource)
  section(id=`${sheetType}-${resourceId}`).resource.resource-numeric.resource-rollable
    +actionRollBtn(attribute, i18n_key)
    +resourceMeterSpinner(attribute, value, max, min)

mixin characterResourceCounter(resourceId, i18n_key=resourceId, attribute=_.snakeCase(resourceId))
  section(id=resourceId).resource.resource-numeric
    label(for=`${resourceId}-input`)
      +i18n(i18n_key).resource-title
    +resourceMeterSpinner(attribute)

mixin characterResources(resources)
  section.resources#character-vitals
    each textResource in textResources
      +characterResourceText(textResource)
  section.resources#character-resource-meters
    each resource in resources
      +characterResourceRollable(resource, resource, "resource-"+resource, "character")
    each xpResource in numericResources
      +characterResourceCounter(xpResource.id, xpResource.id, xpResource.attribute)

mixin sharedResources(resources)
  div.resources
    each resource in resources
      +resourceRollableDropdown(resource, shared)

mixin resources(sheetType)
  - resources;
  if sheetType == 'shared'
    - resources = sharedResources;
    +sharedResources(resources)
  else
    - resources = charResources;
    +characterResources(resources)