//- include ../../components/stats/stats
include ./mixins/resourcemeter
include ./mixins/vitals
include ./mixins/xp
include ../../components/rolls/rolls

-
  charResources = ['health', 'spirit', 'supply'];
  sharedResources = ['supply'];
  maxStandardResource = 5;
  minStandardResource = 0;
  standardValues = _.range(maxStandardResource, minStandardResource);
  inverse = _.range(minStandardResource, maxStandardResource);

mixin characterResourceDropdownOptions(trackValues)
  each val in trackValues
    option(value=val)!=`+${val}`

mixin resourceRollableDropdown(resourceId, sheetType)
  section(class=[`${sheetType}-${resourceId}`,"resource","resource-numeric"])
    -
      trackValues;
      if (resource == 'wealth')
        {trackValues = inverse}
      else
        {trackValues = standardValues};
    +statRollBtn(resourceId, `resource-${resourceId}`)
    select(name=`attr_${resourceId}` title=`Set ${resourceId}`)
      +characterResourceDropdownOptions(trackValues)


mixin characterResourceRollable(resourceId, attribute, i18n_key, sheetType, min=minStandardResource, max=maxStandardResource, value=maxStandardResource)
  section(id=`${sheetType}-${resourceId}`).resource.resource-numeric.resource-rollable
    +statRollBtn(attribute, i18n_key)
    +resourceMeterSpinner(attribute, value, max, min)

mixin characterResourceCounter(resourceId, i18n_key=resourceId, attribute=_.snakeCase(resourceId))
  section(class=[resourceId, "resource","resource-numeric"])
    label(for=`${resourceId}-input`)
      +i18n(i18n_key).resource-title
    +resourceMeterSpinner(attribute)

mixin characterResources(resources)
  section.resources#character-vitals
    each textResource in textResources
      +characterResourceText(textResource)
  section.resources#character-resource-meters
    each resource in resources
      +characterResourceRollable(resource, resource, "resource-"+resource, "character")
    //- +characterXp

mixin sharedResources(resources)
  div.resources
    each resource in resources
      +resourceRollableDropdown(resource, shared)

mixin resources(sheetType)
  - resources;
  if sheetType == 'shared'
    - resources = sharedResources;
    +sharedResources(resources)
  else
    - resources = charResources;
    +characterResources(resources)