include ./mixins/move-builder
include ../generic/listGroup

mixin moveGroup(moveCategory)
  - var title_i18n = `move-group-title-${moveCategory.Name.toLowerCase().replace(' ', '-')}`
  +listGroup(title_i18n)
    each move in moveCategory.Moves
      +listGroupItem()
        +moveListButton(move)
        label.move.toggle-btn
          - const moveId = move.Name.toLowerCase().replace(' ', '-')
          - const moveKey = `move-title-${moveId}`
          input(type='radio' class=`hide-element selected-move move-${moveId}` name='attr_selected_move' value=move.Name)
          span.move-name.btn-content.i18n-text(data-i18n=moveKey) !{translation[moveKey]}

input(type='radio' class='hide-element full-move-list' name='attr_move_view' value='1' checked)
.full-move-list.showhide
  //- List of Moves
  .list-group-container
    input(type='radio' class='hide-element' name='attr_selected_move')
    each category in moves
      +moveGroup(category)

      //- Stupid way for me to generate orcale ccs
      //- - console.log(`input[type=radio].${move.id}:checked ~ div.${move.id},`)

//- Move Details
input(type='radio' class='hide-element move-preview' name='attr_move_view' value='2')
.move-preview.showhide
  .preview-bar
    .close-bar
      label.close-preview.surface
        span.i18n-text(data-i18n='close-preview')=translation['close-preview']
        input(type='checkbox' class='hide-element' name='attr_close_move_preview')
  .preview-container
    .scrollable-list-groups.list-group-container
      each category in moves
        +moveGroup(category)
    //- Move Previews
    .move-preview-container
      each category in moves
        each move in category.Moves
          +movePreviewFactory(move)
