include ../../common/pug/button
include ../modal/modal

mixin otherImpact(index)
  .impact
    input(
      type='checkbox'
      name=`attr_impactOther${index}`
    )
    input(
      type='text'
      name=`attr_impactOther${index}_name`
      data-i18n-placeholder='impact'
      placeholder=translation['impact']
    )

mixin otherImpactSummaryItem(index)
  input(type='hidden' name=`attr_impactOther${index}` class="impact-control")
  li(class=[`impactOther${index}`])
    span(name=`attr_impactOther${index}_name`)

mixin impactToggle(impact)
  - let toggleId = `toggle-${impact.translationId}`
  +attrToggle(impact.attribute, toggleId, impact.translationId, ["toggle-impact"], false)




//- TODO: restyle the impacts() mixin to have a dark button consistent with the stat widgets. the button icon should suggest "config" or "open a menu" to represent the selection modal.
//- also, momentum probably needs a reset display again. and fix its button!
//- hex input border should fade a bit, probs. this may mean generating another image for it, ugh
//- and give it no-repeat



mixin impacts(impactArray, opts, modalId)
  +modal(modalId, "Impacts", "Impacts", ["note-icon-pencil", "title"])
    article.impact-config
      each group in impactArray
        section.impact-group
          if opts.title
            h3.impact-group-title!=group.title
          ul.impact-list
            each impact in group.list
              +impactToggle(impact)
      if opts.customImpacts
        section.custom-impacts
          h3.other-impacts-title
            +i18n("impact-others")
          ul
            each value in [ 1, 2 ]
              li
                +otherImpact(value)
  +impactSummary(impactArray, opts)


mixin impactSummaryItem(impact)
  input(type='hidden' name="attr_"+impact.attribute class="impact-control")
  li(class=[impact.attribute])
    +i18n(impact.translationId)

mixin impactSummary(impactArray, opts)
  ul.impacts-active
    each group in impactArray
      each impact in group.list
        +impactSummaryItem(impact)
    if opts.customImpacts
      each value in [ 1, 2 ]
        +otherImpactSummaryItem(value)

