include ../progress/mixins/progressTrack
include ../modal/modal

//-
  @mixin
  @outputs html

  @memberof components/legacies

- legacies = [ 'quests', 'bonds', 'discoveries' ]

mixin legacyTrack(legacy)
  section(class=[legacy, "legacy-track", "progress-track"])
    - let trackName = `legacy_${legacy}_progress`
    +progressTotal(trackName)
    h4(class=["title", `sf-icon-legacy-${legacy}`])
      +i18n(`legacy-${legacy}-title`)
    +legacyTrackBar(legacy)
    +legacyPlusTen(legacy)
    +legacyMarkBtn(legacy)
    +legacyRollBtn(legacy)


mixin legacyTrackBar(legacy)
  -
    let translate = {
      "data-i18n-title": `legacy-${legacy}-tick`,
      "title": translation[`legacy-${legacy}-tick`],
      "data-i18n-aria-label": `legacy-${legacy}-tick`,
      "aria-label": translation[`legacy-${legacy}-tick`]
    }
  button(
    type="action"
    name=`act_legacy-mark-${legacy}`
    class=["progress-track-bar"]
    value="1"
    )&attributes(translate)
    each value in track
      +legacyProgressBox(legacy, value)


//- TODO: worker to switch ppl from
//- {legacy_progress_${legacy}-filled}
//- to
//- {legacy_${legacy}_progress-filled}
mixin legacyRollBtn(legacy)
  +progressRollBtn(`Legacy ${legacy} Progress`, `@{legacy_${legacy}_progress-filled}`, "roll", [], false)

mixin legacyProgressBox(legacy, index)
  +progressBox(index, `legacy_${legacy}_progress`, true)
    +legacyXpBoxes(legacy, index)

mixin legacyXpBoxes(legacy, index)
  .experience-boxes
    input(type='hidden' name=`attr_legacy_${legacy}_progress_${index}`)
    each box in [ 1, 2 ]
      input(type='checkbox' name=`attr_${legacy}_experience_${index}_${box}` class=["experience-box"])

mixin legacyMarkBtn(legacy)
  - let modalId = `legacy-mark-${legacy}-dialog`
  +modal(modalId, `Mark Legacy: ${legacy}`, "Mark...", ["icon-mark-progress"])
    span Current progress:
    span(name=`attr_legacy_${legacy}_progress-filled`)
    each challengeRank, index in challengeranks
      - let i18n_key = `difficulty-${challengeRank.text}`
      +actionBtn(`legacy-mark-${legacy}`, {i18n: i18n_key})

mixin legacyPlusTen(legacy)
  +btn({
    type: 'checkbox',
    text: '+10',
    attribute: `legacy_${legacy}_plus_ten`,
    classes: 'ten-marker'
  })
