include ../progress/mixins/progressTrack
include ../modal/modal

//-
  @mixin
  @outputs html

  @memberof components/legacies

- legacies = [ 'quests', 'bonds', 'discoveries' ]

mixin legacyTrack(legacy)
  section(class=[legacy, "legacy-track", "progress-track"])
    - let trackName = `legacy_${legacy}_progress`
    +progressTotal(trackName)
    h4(class=["title", `sf-icon-legacy-${legacy}`])
      +i18n(`legacy-${legacy}-title`)
    +legacyTrackBar(legacy)
    +legacyPlusTen(legacy)
    +legacyMarkBtn(legacy)
    +legacyRollBtn(legacy)


mixin legacyTrackBar(legacy, interactive=true)
  if interactive == true
    button(
      type="action"
      name=`act_legacy-mark`
      data-legacy=legacy
      data-ticks=1
      class=["progress-track-bar"]
      )&attributes(translateElement(false, `legacy-${legacy}-tick`))
      each value in track
        +legacyProgressBox(legacy, value)
  if interactive == false
    section(
      class=["progress-track-bar"]
      )&attributes(translateElement(false, `legacy-${legacy}-tick`))
      each value in track
        +legacyProgressBox(legacy, value)

//- TODO: worker to migrate from
//- {legacy_progress_${legacy}-filled}
//- to
//- {legacy_${legacy}_progress-filled}
mixin legacyRollBtn(legacy)
  +progressRollBtn(`legacy_${legacy}_progress-filled`)

mixin legacyProgressBox(legacy, index)
  +progressBox(index, `legacy_${legacy}_progress`, true)
    +legacyXpBoxes(legacy, index)

mixin legacyXpBoxes(legacy, index)
  .experience-boxes
    input(type='hidden' name=`attr_legacy_${legacy}_progress_${index}`)
    each box in [ 1, 2 ]
      input(type='checkbox' name=`attr_${legacy}_experience_${index}_${box}` class=["experience-box"])

mixin legacyMarkBtn(legacy)
  - let modalId = `legacy-mark-${legacy}-dialog`
  +modal(modalId, `Mark Legacy: ${legacy}`, "Mark...", ["sf-icon-mark-progress"])
    +legacyTrackBar(legacy, false)
    each rank in challengeranks
      button(
        type="action"
        name="act_legacy-mark"
        data-legacy=legacy
        data-ticks=rank.legacy
      )&attributes(translateElement(rank.i18n))

mixin legacyPlusTen(legacy)
  +btn({
    type: 'checkbox',
    text: '+10',
    attribute: `legacy_${legacy}_plus_ten`,
    classes: 'ten-marker'
  })
